@import "tailwindcss";

@theme inline {
  --font-cherry: var(--font-cherry-bomb-one), cursive;
  --font-genty: var(--font-genty), sans-serif;
  --color-pink-2: #feaeeacc;
  --color-pink-5: #ffd9f5;
  --color-pink-8: #ee1fc8;
  --color-blue-1: #e0edff;
  --color-blue-2: #74bcffcc;
  --color-blue-5: #00b2ff;
  --color-blue-8: #065dfff2;
  --color-blue-9: #4389cccc;
}

@layer base {
  body {
    font-family: var(--font-cherry-bomb-one), var(--font-genty), cursive,
      sans-serif;
  }
}

body {
  overflow-x: hidden;
  width: 100%;
}

* {
  box-sizing: border-box;
}

.shadow-custom-position {
  text-shadow: 4px 4px 0px var(--tw-shadow-color, currentColor);
}

.text-cst {
  color: white;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.44);
  text-shadow: 2px 4px 0px var(--tw-shadow-color, currentColor);
}

.hero_bg_img {
  background-image: url("/img/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.opp-0 {
  background-color: rgba(0, 0, 0, 0.3);
}
